.img{
    border: 10px solid gray;
    outline: 5px solid rgb(167, 167, 167);
    box-shadow: 10px 10px 5px rgb(167, 167, 167);
    align-items: center;
}


.TITULO{
    background-color: rgb(219, 219, 219, 0.2);
    box-shadow: 10px 10px 5px rgb(219, 219, 219, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.MASSA{
    background-color: rgb(167, 167, 167, 0.2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(219, 219, 219);
    transition: transform 0.3s ease;
}

.MASSA:hover{
    transform: translateY(-10px);

}

.MASSB{
    background-color: rgb(167, 167, 167, 0.2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(219, 219, 219);
    transition: transform 0.3s ease;
}

.COISA{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
    width: 100%; 
}

.MASSA > ul{
    visibility: hidden;
    margin-top: -40px;
    transition: ease 0.3s;
    color: rgb(167, 167, 167, 0);;
}

.MASSA:hover > ul{
    visibility: visible;
    margin-top: 0px;
    color: black;
}

.MASSA > ul > li > a{
    text-decoration: none;
    color: rgb(167, 167, 167, 0);;
    transition: ease 0.3s;
}

.MASSA:hover > ul > li > a{
    color: black;
}


.COISA > div {
    flex: 1 1 300px;
    max-width: 100%;
}

@media (max-width: 768px) {
    body{
        margin: 40px;
    }

    .COISA {
        font-size: 20px;
    }
}